# Python virtual environment
sunburst-py-venv/
.venv/

# Build directories
build/
scratch/

# Nix build directory symlink
result

# Xcelium output
xrun.history

# File extensions
*.pyc
*.log
*.fst
*.fst.hier
*.shm
*.jou
*.str
*.gtkw
